
.about-us-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us-content-header {
    max-width: 1000px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.about-us-content-header h2 {
    font-size: 2.5rem;  
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
}

.about-us-content-header p {
    margin-bottom: 20px;
    width: 80%; 
}

.about-us-content-header img {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;  
    max-width: 600px; 
}

.about-us-content-mission {
    max-width: 1000px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.about-us-content-mission h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    margin-top: 30px;
    margin-bottom: 20px;
}

.about-us-content-mission p {
    margin-bottom: 50px;
    width: 80%; 
}

.about-us-content-services {
    width: 100%;
    background: url("../../assets/images/service_bg.png");
    background-size: cover;  
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us-content-services h2 {
    font-size: 2.5rem;  
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
}

.about-us-content-services .p1 {
    margin-bottom: 50px;
    width: 80%;  
}

.about-us-cards {
    display: grid;
    width: 90%; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));  
    gap: 20px; 
}

.about-us-card {
    background-color: transparent;
    padding: 50px 20px; 
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    overflow: hidden;
}

.about-us-card:hover {
    background: rgba(255, 255, 255, 0.1);
    transition: 0.5s ease;
}

.about-us-card img {
    margin-bottom: 20px;
    width: 60px;  
    height: 60px;
    object-fit: contain;
}

@media (max-width: 768px) {
    .about-us-content-header h2,
    .about-us-content-mission h2,
    .about-us-content-services h2 {
        font-size: 2rem;
    }

    .about-us-content-header p,
    .about-us-content-mission p,
    .about-us-content-services .p1 {
        width: 100%;  
    }

    .about-us-content-header img {
        max-width: 100%;
    }

    .about-us-card {
        padding: 40px 10px; 
    }
}

@media (max-width: 480px) {
    .about-us-content-header h2,
    .about-us-content-mission h2,
    .about-us-content-services h2 {
        font-size: 1.8rem;
    }

    .about-us-content-header p,
    .about-us-content-mission p,
    .about-us-content-services .p1 {
        width: 100%;  
    }

    .about-us-card {
        padding: 30px 10px; 
    }
}