.contact-main {
    width: 100%;
    padding-bottom: 100px;
}
.contact-info-div {
    width: 100%;
    display: flex;
    padding-top: 100px;
    justify-content: center;
}
.contact-address {
    width: 20%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;

    align-items: center;    
    text-align: center;
}
.contact-address h3 {
    margin-bottom: 10px;
}
.contact-hr {
    width: 90%;
    height: 1px;
    background-color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contact-other {
    width: 20%;
    border-radius: 10px;
   
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    text-align: center;
    margin-left: 20px;
}
.contact-map-icon {
    width: 60px;
    margin-bottom: 10px;
    cursor: pointer;

}
.contact-mail-icon {
    width: 60px;
    margin-bottom: 10px;

}