* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

.app {
  width: 100vw;

}
html {
  overflow-x: hidden;
}

 ::-webkit-scrollbar {
  width: 10px;  
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background-color: #bbd0ef;  
  border-radius: 10px; 
  border: 2px solid transparent; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;  
}